<table
  style="
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: solid black 1px;
  "
>
  <tr style="background-color: gainsboro">
    <td>producto</td>
    <td>cantidad</td>
    <td>valor unitario</td>
    <td>sub total</td>
  </tr>
  <tr>
    <td>carne</td>
    <td>7</td>
    <td>500</td>
    <td>350</td>
  </tr>
  <tr>
    <td>carne</td>
    <td>7</td>
    <td>500</td>
    <td>350</td>
  </tr>
  <tr>
    <td>carne</td>
    <td>7</td>
    <td>500</td>
    <td>350</td>
  </tr>
  <tr>
    <td>carne</td>
    <td>7</td>
    <td>500</td>
    <td>350</td>
  </tr>
  <tr>
    <td>carne</td>
    <td>7</td>
    <td>500</td>
    <td>350</td>
  </tr>
  <tr>
    <td>carne</td>
    <td>7</td>
    <td>500</td>
    <td>350</td>
  </tr>
</table>
