<header id="header">
  <div class="center">
    <!-- Logo -->
    <a [routerLink]="['/']">
      <div id="logo">
        <img src="assets/imagenes/argentina.jpg" alt="" class="app-logo" />
        <span id="brand">
          <strong>CarniceriaFrias</strong>
        </span>
      </div>
    </a>
    <!-- menu -->
    <nav id="menu">
      <ul>
        <li>
          <a [routerLink]="['/verpedidos']">VER PEDIDOS</a>
        </li>
      </ul>
    </nav>
    <div class="clearfix"></div>
  </div>
</header>
